<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <title>Cargar Nuevo Menú</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h3 class="text-center">CHEF - Cargar Nuevo Menú</h3>
    </header>

    <div class="main-nav-container">
      <nav class="main-nav container">
        <a id="menu_disponible" href="listar_menu.html">Menú disponible</a>
        <a id="cargar_pedidos" href="cargar_pedidos.html">Cargar Pedido</a>
        <a id="pedidos_pendientes" href="pedidos_pendientes.html"
          >Pedidos Pendientes</a
        >
        <a id="reservas" href="reservas.html">Mesas Reservadas</a>
        <a id="clientes" href="clientes.html">Listado Clientes</a>
        <a id="ingresos" href="ingresos.html">Informe de Ingresos</a>
        <a id="cargar_consumicion" href="cargar_consumicion.html"
          >Cargar Menú</a
        >
        <a id="registro" href="registro.html">Registrar Usuario</a>
      </nav>
    </div>

    <section class="formulario">
      <form class="form">
        <fieldset id="fieldset-registro">
          <legend class="legend">Cargar Nuevo Menú</legend>
          <div class="field">
            <legend id="legend-obligatorio" class="legends-en-registro">
              Los campos con el símbolo * son obligatorios de rellenar
            </legend>

            <legend id="legend-consumicion" class="legends-en-registro">
              *
            </legend>
            <input
              type="text"
              id="nombre-consumicion"
              class="input-registro"
              placeholder="Nombre Consumición"
              required
            />

            <legend
              id="legend-descripcion-consumicion"
              class="legends-en-registro"
            >
              *
            </legend>
            <input
              type="text"
              id="descripcion-consumicion"
              class="input-registro"
              placeholder="Descripción/Ingredientes"
              required
            />

            <legend id="legend-precio-consumicion" class="legends-en-registro">
              *
            </legend>
            <input
              type="number"
              id="precio-consumicion"
              class="input-registro"
              placeholder="Precio"
              required
            />

            <label>Seleccione la categoría: </label>
            <select id="categoria-consumicion" required>
              <option value="entrada">Entrada</option>
              <option value="comida">Comida</option>
              <option value="postre">Postre</option>
              <option value="bebida">Bebida</option>
            </select>
          </div>
        </fieldset>
        <a
          ><button id="boton-agregar-consumicion" class="btn">
            Agregar
          </button></a
        >
      </form>
    </section>
    <script src="../js/restringirPorRol.js"></script>
  </body>
</html>
