<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <title>Cargar Pedidos</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h3 class="text-center">Cargar Pedidos</h3>
    </header>

    <div class="main-nav-container">
      <nav class="main-nav container">
        <a href="cargar_pedidos.html">Cargar Pedido</a>
        <a href="pedidos_pendientes.html">Pedidos Pendientes</a>
        <a href="reservas.html">Mesas Reservadas</a>
        <a href="clientes.html">Listado Clientes</a>
        <a href="ingresos.html">Informe de Ingresos</a>
        <a href="cargar_consumicion.html">Cargar Consumición</a>
        <a href="registro.html">Registrar Usuario</a>
      </nav>
    </div>

    <div>
      <section class="formulario">
        <form class="form">
          <fieldset id="fieldset-registro">
            <legend class="legend">Cargar Pedido</legend>
            <div class="field">
              <label>Número de Mesa: </label>
              <input type="number" id="numero-mesa" required />

              <label>Nombre del cliente: </label>
              <input type="text" id="nombre-cliente" required />

              <label>Pedido: </label>

              <div class="container-busqueda">
                <input
                  type="search"
                  id="input-busqueda-menu"
                  placeholder="Escribe aquí el nombre de la consumición para realizar la búsqueda"
                />

                <a><button id="btn-buscar-menu" class="btn">Buscar</button></a>
              </div>

              <section id="menu" class="menu">
                <div id="container_menu">
                  
                </div>
              </section>
            </div>
          </fieldset>
          <a
            ><button id="btn-buscar-reservas" class="btn">
              Confirmar Pedido
            </button></a
          >
        </form>
      </section>
    </div>
  </body>
  <script type="module" src="../js/solicitarMenu.js"></script>
</html>
