<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Clientes</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h3 class="text-center">Listado Clientes</h3>
    </header>

    <div class="main-nav-container">
      <nav class="main-nav container">
        <a href="cargar_pedidos.html">Cargar Pedido</a>
        <a href="pedidos_pendientes.html">Pedidos Pendientes</a>
        <a href="reservas.html">Mesas Reservadas</a>
        <a href="clientes.html">Listado Clientes</a>
        <a href="ingresos.html">Informe de Ingresos</a>
        <a href="registro.html">Registrar Usuario</a>
      </nav>
    </div>

    <div class="container container-pedidos-pendientes">
      <div class="pedido-pendiente">
        <div class="item">
          <p>Juan Perez</p>
        </div>
        <div class="item">
          <p>Última visita: 02/10/2022</p>
        </div>
        <div class="item"></div>
      </div>

      <div class="pedido-pendiente">
        <div class="item">
          <p>Juan Perez</p>
        </div>
        <div class="item">
          <p>Última visita: 02/10/2022</p>
        </div>
        <div class="item"></div>
      </div>
    </div>
  </body>
</html>
