<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <title>Pedidos Pendientes</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h3 class="text-center">Pedidos Pendientes</h3>
    </header>

    <div class="main-nav-container">
      <nav class="main-nav container">
        <a href="cargar_pedidos.html">Cargar Pedido</a>
        <a href="pedidos_pendientes.html">Pedidos Pendientes</a>
        <a href="reservas.html">Mesas Reservadas</a>
        <a href="clientes.html">Listado Clientes</a>
        <a href="ingresos.html">Informe de Ingresos</a>
        <a href="cargar_consumicion.html">Cargar Consumición</a>
        <a href="registro.html">Registrar Usuario</a>
      </nav>
    </div>

    <div class="container container-pedidos-pendientes" id="contenedor_pedidos_pendientes">
      <div class="pedido-pendiente">
        <div class="item">
          <p>Mesa 1</p>
        </div>
        <div class="item">
          <p>Juan Perez</p>
        </div>
        <div class="item">
          <p>$7999</p>
        </div>
        <div class="item">
          <select name="metodo-de-pago" required>
            <option value="debito">Tarjeta de débito</option>
            <option value="credito">Tarjeta de crédito</option>
            <option value="digital">Plataforma digital</option>
            <option value="efectivo">Efectivo</option>
          </select>
        </div>
        <div class="item">
          <a
            ><button id="btn-generar-factura" class="btn">
              Generar Factura
            </button></a
          >
        </div>
      </div>

      <div class="pedido-pendiente">
        <div class="item">
          <p>Mesa 2</p>
        </div>
        <div class="item">
          <p>Lionel Messi</p>
        </div>
        <div class="item">
          <p>$7999</p>
        </div>
        <div class="item">
          <select name="metodo-de-pago" required>
            <option value="debito">Tarjeta de débito</option>
            <option value="credito">Tarjeta de crédito</option>
            <option value="digital">Plataforma digital</option>
            <option value="efectivo">Efectivo</option>
          </select>
        </div>
        <div class="item">
          <a
            ><button id="btn-generar-factura" class="btn">
              Generar Factura
            </button></a
          >
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="../js/solicitarPedidosPendientes.js"></script>
</html>
