html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales */
body {
  font-size: 1.5rem;
  line-height: 2;
}

.formulario {
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* Variables */
:root {
  --main-color: #ffc1ff;
  --second-color: #ff97d9;
}

/*Utilidades*/

.text-center {
  text-align: center;
}

.btn {
  display: block;
  background-color: var(--main-color);
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

/*Login*/

header h3 {
  font-size: 2.5rem;
  padding: 4rem;
}

.form {
  max-width: 60rem;
  margin: 0 auto 0 auto;
}

form fieldset {
  border-color: gray;
  border-width: 0.1rem;
  border-style: solid;
  margin-bottom: 2.5rem;
}

form .legend {
  color: black;
  background-color: var(--second-color);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4rem;
  padding: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.field label {
  font-size: 2rem;
  margin: 1.5rem;
}

.field input,
select {
  margin: 1.5rem;
}

.field label {
  margin-bottom: 2rem;
}

/* Nav Principal */
.main-nav-container {
  border-top: 0.1rem solid #dedede;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5rem;
}

/*Registro*/
.legends-en-registro {
  text-align: center;
  color: black;
  background-color: white;
  font-size: 120%;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:hover {
  color: #7d2181;
}

/*Mesas Reservadas */
.input-date {
  margin: 5rem 5rem 10rem 5rem;
}

/*Cargar Pedidos*/

.menu {
  padding: 0;
  text-align: center;
  border-radius: 5rem;
}

.container-flex-menu {
  display: flex;
}

.container-flex-menu .menu-item {
  flex-grow: 1;
}

.container-flex-menu label,
.container-flex-menu input {
  align-self: center;
  width: 10rem;
}
.menu .menu-item {
  margin-top: 5rem;
}

.menu .menu-img {
  width: 14rem;
  border-radius: 48%;
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.menu .menu-content {
  margin-left: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................"
    "...................................................................."
    "....................................................................";
  position: absolute;
  left: 2rem;
  right: 0;
  top: 4px;
  z-index: 1;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content p {
  margin-right: 10px;
  background: #1a1814;
  z-index: 3;
  font-weight: 700;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.menu .menu-content span {
  background: #1a1814;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  color: white;
  height: 3rem;
}

.menu .menu-ingredients {
  margin-left: 8rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

.container-busqueda {
  display: flex;
}

.container-busqueda input {
  flex-grow: 1;
  height: 3rem;
  align-self: center;
}
.container-busqueda a {
  align-self: center;
}

/* Pedidos Pendientes */
.container-pedidos-pendientes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.pedido-pendiente {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px dashed rgb(149, 149, 149);
}

.item {
  padding-right: 5rem;
}
